.react-tel-input{
    width: 60% !important;
    height: 70px !important;
}
.react-tel-input input[type=text], .react-tel-input input[type=tel]{
    border: none !important;
    /* margin-top: 17px !important; */
}

.child-wrapper {
    padding: 100px 0px;
}

.isBPPJ h2, .isBPPJ h4  {
    text-align: center;
    color: white;
}


.isBPPJ form {
    text-align: center;
    max-width: 51% !important;
    background: #588285;
    margin: 10px auto;
    border: 1px solid #ccc;
    color: white;
    padding: 20px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
    border-radius: 3px;
    position: relative;
}

.home-search-bar {
    width: 75%;
    margin: auto;
}


@media only screen and (max-width: 728px) {
    /* .marquee-wrapper {
        zoom: 35%;
    } */
    .home-search-bar {
        width: 100%;
    }
    .isBPPJ form {
        max-width: 100% !important;
    }
} 
