.chat {
  text-align: center;
  max-width: 95% !important;
  margin: 10px auto;
  border: 1px solid #ccc;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
  border-radius: 3px;
  position: relative;
  height: 700px;
}
.chat-frame {
    border-radius: 3px;
    border: none;
    height: 99%;
    width: 100%;
}
@media only screen and (max-width: 728px) {
  .chat {
    max-width: 100% !important;
    margin: 10px;
  }
}